html,
body {
  width: 100%;
}

.swiper-container {
  width: 100%;
  height: 588px;
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  /* background: #5e5f5e; */
}

.swiper-slide {
  width: 100%;
  height: 588px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

.headerAll {
  width: 100%;
  height: 588px;
  position: absolute;
  top: 0;
  z-index: 50;
}

.headerAll .header {
  width: 100%;
  height: 149px;
}

.headerAll .header .top {
  width: 100%;
  height: 87px;
  position: relative;
}

.headerAll .header .top a {
  color: #fff;
  z-index: 5;
  text-align: center;
  font-size: 15px;
  line-height: 87px;
}

.headerAll .header .top .component {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
}

.headerAll .header .top .component span {
  float: left;
  line-height: 87px;
  margin: 0 30px;
  color: #fff;
}

.headerAll .header .menu {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.08);
  height: 62px;
}

.headerAll .header .menu ul {
  width: 1023px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.headerAll .header .menu ul li {
  text-align: center;
  line-height: 62px;
}

.headerAll .header .menu ul li a {
  color: #e8e8e8;
  font-size: 14px;
}

.headerAll .header .menu ul li a:hover {
  border-bottom: 2px solid #ccc;
}

.headerAll .header .menu ul .allSeries2 {
  position: relative;
}

.headerAll .header .menu ul .allSeries3 {
  position: relative;
}

.headerAll .header .menu ul .allSeries2:hover .menu2 {
  display: block;
}

.headerAll .header .menu ul .allSeries3:hover .menu2 {
  display: block;
}

.headerAll .header .menu ul .menu2 {
  position: absolute;
  display: none;
  top: 100%;
  left: -15px;
  margin-top: 1px;
  z-index: 1;
  color: #00081c;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 28px 0px;
}

.headerAll .header .menu ul .menu2 span {
  display: block;
  margin: -10px 15px 1.6px;
}

.headerAll .header .menu ul .menu2 span a {
  color: #00081c;
}

.headerAll .header .menu ul .menu2 span:hover a {
  color: #fff;
}

.none {
  width: 100%;
  height: 87px;
  display: none;
  background-color: rgba(0, 14, 34, 0.8);
  position: fixed;
  top: 0;
  z-index: 150;
}

.none .noneLeft {
  padding-left: 35px;
  width: 224px;
  height: 100%;
  position: absolute;
  left: 0;
  width: 120px;
}

.none .noneLeft a {
  font-size: 35px;
  line-height: 87px;
  color: #e7e8ea;
}

.none .noneContent ul {
  margin: 0 auto;
  height: 87px;
  width: 1024px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.none .noneContent ul li {
  text-align: center;
  line-height: 87px;
}

.none .noneContent ul li a {
  color: #e7e8ea;
  font-size: 15px;
}

.none .noneComponent {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
}

.none .noneComponent span {
  float: left;
  line-height: 87px;
  margin: 0 30px;
  color: #fff;
}

.none .noneComponent span a {
  color: #fff;
}

.none .noneComponent span a i {
  color: #fff;
}

.tips {
  width: 100%;
  height: 75px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
}

.tips li {
  flex: 1;
  text-align: center;
  color: #38081c;
  font-size: 12px;
}

.about {
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.about h2 {
  text-align: center;
  line-height: 124px;
  font-size: 30px;
}

.about a .product {
  float: left;
  height: 517px;
  width: 275px;
  margin-right: 10px;
}

.about a .product dl {
  overflow: hidden;
}

.about a .product dl dt {
  width: 286.5px;
  height: 286.5px;
}

.about a .product dl dt img {
  width: 100%;
  height: 100%;
}

.about a .product dl dd {
  width: 286.5px;
  padding: 15px;
  color: #00081c;
}

.about a .product dl dd p:nth-of-type(1) {
  height: 22px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  background-color: #e5ae87;
}

.about a .product dl dd p:nth-of-type(3) {
  margin: 20px 0;
  font-size: 17px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.about a .product dl dd p:nth-of-type(4) {
  line-height: 33px;
  float: left;
  width: 100%;
  font-size: 17px;
}

.about a .product dl dd p:nth-of-type(4) .color {
  float: left;
}

.about a .product dl dd p:nth-of-type(4) .color i {
  vertical-align: middle;
  display: inline-block;
  line-height: 33px;
  width: 23px;
  height: 23px;
  border: 1px solid #000;
  border-radius: 50%;
}

.about a .product dl dd p:nth-of-type(4) .color .rose {
  background-color: #e5ae87;
}

.about a .product dl dd p:nth-of-type(4) .color .silver {
  background-color: #c1c1c1;
}

.about a .product dl dd p:nth-of-type(4) .color .golden {
  background-color: #DFC96C;
}

.about a .product dl dd p:nth-of-type(4) .price {
  float: right;
}

.about a .product dl dd p:nth-of-type(5) {
  float: left;
  line-height: 38px;
}

.about a .product:hover {
  transform: translateY(-1px);
  transition: all 0.2s linear;
  box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.16);
}

.about a .product:nth-of-type(4) {
  margin-right: 0;
}

.sex {
  width: 1140px;
  margin: 0 auto;
}

.sex .lady {
  float: left;
  width: 549px;
  height: 494px;
  position: relative;
}

.sex .lady img {
  width: 549px;
  height: 494px;
}

.sex .lady .girl {
  width: 250px;
  height: 112px;
  z-index: 50;
  position: absolute;
  bottom: 40px;
  left: 159px;
}

.sex .lady .girl p:nth-of-type(1) {
  color: #fff;
  font-size: 53px;
  text-align: center;
  margin-bottom: 15px;
}

.sex .lady .girl .choose {
  border: #fff solid 2px;
  border-radius: 5px;
  width: 250px;
  height: 42px;
  text-align: center;
}

.sex .lady .girl .choose a {
  line-height: 42px;
  color: #fff;
}

.sex .lady .girl .choose:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.sex .man {
  float: right;
  width: 549px;
  height: 494px;
  position: relative;
}

.sex .man img {
  width: 549px;
  height: 494px;
}

.sex .man .boy {
  width: 250px;
  height: 112px;
  z-index: 50;
  position: absolute;
  bottom: 40px;
  left: 159px;
}

.sex .man .boy p:nth-of-type(1) {
  color: #fff;
  font-size: 53px;
  text-align: center;
  margin-bottom: 15px;
}

.sex .man .boy .choose {
  border: #fff solid 2px;
  border-radius: 5px;
  width: 250px;
  height: 42px;
  text-align: center;
}

.sex .man .boy .choose a {
  line-height: 42px;
  color: #fff;
}

.sex .man .boy .choose:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.recommend {
  width: 100%;
  height: 271px;
  background: url(../images/rom.banner.jpg);
  background-position: right center;
  padding-top: 50px;
}

.recommend .recommend_content {
  width: 1140px;
  margin: 0 auto;
}

.recommend .recommend_content h2 {
  font-size: 20px;
  line-height: 80px;
}

.recommend .recommend_content span {
  width: 148px;
  height: 62px;
  display: block;
  float: left;
  margin-right: 130px;
  background-color: #fff;
  border-radius: 2px;
  line-height: 62px;
  text-align: center;
}

.recommend .recommend_content span:hover {
  box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.16);
}

.ringimg {
  width: 1140px;
  margin: 70px auto;
}

.ringimg img {
  width: 100%;
  height: 100%;
}

.ring {
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.ring h2 {
  text-align: center;
  line-height: 124px;
  font-size: 30px;
}

.ring .product {
  float: left;
  height: 517px;
  width: 275px;
  margin-right: 10px;
}

.ring .product dl {
  overflow: hidden;
}

.ring .product dl dt {
  width: 286.5px;
  height: 286.5px;
}

.ring .product dl dt img {
  width: 100%;
  height: 100%;
}

.ring .product dl dd {
  width: 286.5px;
  padding: 15px;
  color: #00081c;
}

.ring .product dl dd p:nth-of-type(1) {
  height: 22px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  background-color: #e5ae87;
}

.ring .product dl dd p:nth-of-type(3) {
  margin: 20px 0;
  font-size: 17px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ring .product dl dd p:nth-of-type(4) {
  line-height: 33px;
  float: left;
  width: 100%;
  font-size: 17px;
}

.ring .product dl dd p:nth-of-type(4) .color {
  float: left;
}

.ring .product dl dd p:nth-of-type(4) .color i {
  vertical-align: middle;
  display: inline-block;
  line-height: 33px;
  width: 23px;
  height: 23px;
  border: 1px solid #000;
  border-radius: 50%;
}

.ring .product dl dd p:nth-of-type(4) .color .rose {
  background-color: #e5ae87;
}

.ring .product dl dd p:nth-of-type(4) .color .silver {
  background-color: #c1c1c1;
}

.ring .product dl dd p:nth-of-type(4) .color .golden {
  background-color: #DFC96C;
}

.ring .product dl dd p:nth-of-type(4) .price {
  float: right;
}

.ring .product:hover {
  transform: translateY(-1px);
  transition: all 0.2s linear;
  box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.16);
}

.ring .product:nth-of-type(4) {
  margin-right: 0;
}

.watchband {
  width: 1140px;
  margin: 0 auto;
}

.watchband h2 {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.watchband h3 {
  width: 100%;
  padding: 30px 120px;
  font-size: 13px;
  text-align: center;
  line-height: 17px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  font-family: DWFutura, sans-serif;
}

.watchband .band1 {
  float: left;
  width: 361px;
  height: 361px;
  margin: 0 14px 0 0;
  position: relative;
}

.watchband .band1 img {
  width: 361px;
  height: 361px;
}

.watchband .band1 .jingshu {
  width: 200px;
  height: 34px;
  z-index: 50;
  position: absolute;
  bottom: 40px;
  left: 85px;
}

.watchband .band1 .jingshu .chooseband {
  border: #fff solid 2px;
  border-radius: 5px;
  width: 200px;
  height: 34px;
  text-align: center;
}

.watchband .band1 .jingshu .chooseband a {
  line-height: 34px;
  color: #fff;
  font-size: 13px;
}

.watchband .band1 .jingshu .chooseband:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.watchband .band2 {
  float: left;
  width: 361px;
  height: 361px;
  margin: 0 14px;
  position: relative;
}

.watchband .band2 img {
  width: 361px;
  height: 361px;
}

.watchband .band2 .pizhi {
  width: 200px;
  height: 34px;
  z-index: 50;
  position: absolute;
  bottom: 40px;
  left: 85px;
}

.watchband .band2 .pizhi .chooseband {
  border: #fff solid 2px;
  border-radius: 5px;
  width: 200px;
  height: 34px;
  text-align: center;
}

.watchband .band2 .pizhi .chooseband a {
  line-height: 34px;
  color: #fff;
  font-size: 13px;
}

.watchband .band2 .pizhi .chooseband:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.watchband .band3 {
  float: left;
  width: 361px;
  height: 361px;
  margin: 0 0 0 14px;
  position: relative;
}

.watchband .band3 img {
  width: 361px;
  height: 361px;
}

.watchband .band3 .zhiwen {
  width: 200px;
  height: 34px;
  z-index: 50;
  position: absolute;
  bottom: 40px;
  left: 85px;
}

.watchband .band3 .zhiwen .chooseband {
  border: #fff solid 2px;
  border-radius: 5px;
  width: 200px;
  height: 34px;
  text-align: center;
}

.watchband .band3 .zhiwen .chooseband a {
  line-height: 34px;
  color: #fff;
  font-size: 13px;
}

.watchband .band3 .zhiwen .chooseband:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.band {
  width: 1140px;
  margin: 50px auto;
}

.band .product {
  float: left;
  height: 517px;
  width: 286.5px;
  margin-right: -2px;
}

.band .product dl {
  overflow: hidden;
}

.band .product dl dt {
  width: 286.5px;
  height: 246.5px;
  padding: 60px 0;
}

.band .product dl dt img {
  width: 100%;
  height: 100%;
}

.band .product dl dd {
  width: 286.5px;
  padding: 15px;
  color: #00081c;
}

.band .product dl dd p:nth-of-type(1) {
  height: 22px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  background-color: #e5ae87;
  margin-bottom: 5px;
}

.band .product dl dd p:nth-of-type(3) {
  margin: 20px 0;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.band .product dl dd p:nth-of-type(4) {
  line-height: 38px;
  float: left;
  width: 100%;
  font-size: 18px;
}

.band .product dl dd p:nth-of-type(4) .color {
  float: left;
}

.band .product dl dd p:nth-of-type(4) .color i {
  vertical-align: middle;
  display: inline-block;
  line-height: 38px;
  width: 23px;
  height: 23px;
  border: 1px solid #000;
  border-radius: 50%;
}

.band .product dl dd p:nth-of-type(4) .color .rose {
  background-color: #e5ae87;
}

.band .product dl dd p:nth-of-type(4) .color .silver {
  background-color: #c1c1c1;
}

.band .product dl dd p:nth-of-type(4) .color .golden {
  background-color: #DFC96C;
}

.band .product dl dd p:nth-of-type(4) .price {
  float: right;
}

.band .product:hover {
  transform: translateY(-2px);
  transition: all 0.2s linear;
  box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.16);
}

.band .product:nth-of-type(4) {
  margin-right: 0;
}

.band .m-style {
  margin: 0 auto;
}

.week {
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.week h2 {
  text-align: center;
  line-height: 52px;
  font-size: 25px;
}

.week h3 {
  text-align: center;
  line-height: 52px;
  font-size: 25px;
  margin-bottom: 60px;
}

.week .product {
  float: left;
  height: 286.5px;
  width: 275px;
  margin-right: 13px;
  position: relative;
}

.week .product dl {
  overflow: hidden;
}

.week .product dl dt {
  width: 286.5px;
  height: 286.5px;
}

.week .product dl dt img {
  width: 100%;
  height: 100%;
}

.week .product dl dd {
  position: absolute;
  left: 25px;
  bottom: 24px;
  background-color: rgba(0, 0, 0, 0.13);
  padding: 15px 18px 11px 12px;
  color: #fff;
}

.week .product dl dd p:nth-of-type(1) {
  line-height: 31px;
  color: #fff;
  font-size: 23px;
}

.week .product dl dd p:nth-of-type(2) {
  font-size: 14px;
  line-height: 20px;
}

.week .product:nth-of-type(4) {
  margin-right: 0;
}

.footer {
  width: 100%;
  height: 386px;
}

.footer footer {
  width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding-top: 60px;
}

.footer footer .footer_top {
  padding-bottom: 70px;
  border-bottom: 1px solid #ccc;
}

.footer footer .footer_top ul {
  margin-right: 175px;
  float: left;
}

.footer footer .footer_top ul li {
  line-height: 46px;
}

.footer footer .footer_top ul li a {
  color: #6e6e6e;
}

.footer footer .footer_top ul li:nth-of-type(1) a {
  color: #000;
  margin: 3px 0;
  font-size: 17px;
}

.footer footer .footer_top ul:nth-of-type(5) {
  margin-right: 0;
}

.footer footer .footer_top ul:nth-of-type(5) li:nth-of-type(2) a img {
  width: 60px;
  height: 25px;
}

.footer footer .footer_bottom {
  padding-top: 40px;
}

.footer footer .footer_bottom p {
  line-height: 40px;
}

.footer footer .footer_bottom p span {
  padding-right: 28px;
  padding-left: 30px;
  border-right: 2px solid #ccc;
  color: #6e6e6e;
  font-size: 15px;
}

.footer footer .footer_bottom .explain {
  line-height: 40px;
}

.footer footer .footer_bottom .explain span {
  font-size: 15px;
  padding-right: 28px;
  padding-left: 30px;
  color: #6e6e6e;
}

.footer footer .footer_bottom .explain .two {
  margin-left: 60px;
}

.footer footer .footer_bottom .explain .two a {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  color: #6e6e6e;
  border-right: 2px solid #ccc;
}

.footer footer .footer_bottom .explain .two a:nth-of-type(4) {
  border-right: none;
  padding-right: 0;
}
